cmake-build-debug/
build/
.idea/
Box2dSFMLTestings/Testing
Box2dSFMLTestings/CMakeCache.txt
Box2dSFMLTestings/CMakeFiles/
Box2dSFMLTestings/Makefile
Box2dSFMLTestings/cmake_install.cmake
CMakeFiles/
Makefile
FourTiresModel(project)/Testing
cmake_install.cmake
hello
