cmake-build-debug/
build/
.idea/
CMakeFiles/
Makefile
cmake_install.cmake
hello
Model/Testing
src/server/CMakeFiles/*
src/server/Box2D-cmake.cbp
/test/
src/client/test.cpp
src/server/plugins-management/plugins/cmake-build-debug
CMakeCache.txt
Client_autogen/
Server_autogen/
libmodel.a
model_autogen/
Micromachines.cbp
src/server/plugins-management/plugins/cmake-build-debug

