cmake-build-debug/
build/
.idea/
Box2dSFMLTestings/Box2D
Box2dSFMLTestings/CMakeCache.txt
Box2dSFMLTestings/CMakeFiles/
Box2dSFMLTestings/Makefile
Box2dSFMLTestings/cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile

cmake_install.cmake
hello
